* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #F4F7FB;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__center {
  font-size: 30px;
}
.nav__center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__center ul #home-bar {
  background-color: orange;
}
.nav__center ul li {
  margin: 30px;
}
.nav__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__right ul li {
  margin: 15px;
}