@use "../utilities/variables" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
body{
    font-family: $font;
}